/* 
footer {
  background-color: #00274C;
  color: white;
  padding: 2rem;
  display: grid;
  grid-template-columns: 50% auto; 
  align-items: center; 
  gap: 2rem; 
}

.description h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #ADD8E6;
}

.description ul {
  list-style-type: none; 
  padding: 0;
}

.description li {
  margin-bottom: 1rem;
}

.description li a {
  text-decoration: none;
  color: #ADD8E6; 
  font-size: 1.1rem;
  transition: color 0.3s ease, border-left 0.3s ease; 
  padding-left: 5px;
  border-left: 3px solid transparent; 
}

.brand {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  margin-right:4rem
}

.brand img {
  width: 250px;
  height: auto;
  transition: transform 0.3s ease; 
}

.brand img:hover {
  transform: scale(1.05); 

} */
.footer-container {
  background-color: #00274C;
  color: white;
  padding: 2rem;
  display: grid;
  align-items: center;
}


.logo-section {
  text-align: center;
  /* margin-bottom: 20px; */
}

.logo-title {
  font-size: 2.3vw;
  font-weight: bold;
}

.slogan {
  font-style: italic;
  font-size: 2.2vh;
}

.navigation-links ul {
  margin-top: 1.5rem;
  font-family: "Roboto";
  display: flex;
  justify-content: center;
  /* grid-template-columns: repeat(6,1fr); */
  list-style-type: none;
  font-size: 2vh;
}


.navigation-links a {
  padding: 1rem;
  color: white;
  text-underline-offset: 8px; 
  /* transition: color 0.3s ease; */
}

.navigation-links a:hover {
  transition: color .5s ease;
  /* transition: background-color .1s; */
  margin-top: 1vw;
  padding: .5rem 1.5rem;
  border-radius: 15px;
  border: #696969 1.7px solid;
  box-shadow: 5px 5px 15px 1px rgba(150, 150, 150, 0.5);
  font-size: 2.3vh;
  text-decoration: none;
  background-color: #ffffffe1;
  padding: .5rem 1.6rem;
  border-radius: 15px;
  font-weight: 600;
  color: #00274C;
}

.copyright {
  font-size: 1.8vh;
  opacity: 0.7;
  margin-top: 5rem;
  margin-bottom: -1rem;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .footer-container {
      flex-direction: column-reverse;
  }

  
  .navigation-links {
      flex-direction: column;
      align-items: center;
  }
  
  .navigation-links li {
      margin-right: 0;
      margin-bottom: 10px;
  }
}