.grid1{
  font-family: "Roboto";
  display: grid;
  grid-template-columns: 40% auto;
  /* gap: 2rem; */
  /* background-color: red; */
  margin-top: 3rem;
}

.valor-missao-visao {
  margin: 25px;
  /* background-color: aquamarine; */
  padding: 0 2rem 0 0;
}

.valor-missao-visao .missao-visao .tituloMV img{
  width: 3vw;
}
.valor-missao-visao .missao-visao .tituloMV .imgvisao{
  width: 2.5vw;
  margin-left: .8rem;
}
.valor-missao-visao .missao-visao .tituloMV{
  display: flex;
  gap: .5rem;
  margin: 2rem 0 0 2rem;
}
.valor-missao-visao .missao-visao .tituloMV h2{
  padding: 1rem 0;
}

.valor-missao-visao .missao-visao p{
  color: #696969;
  padding: 0 0 0 3rem  ;
  text-align: justify;
  font-size:  2.3vh;

}

.valor-missao-visao .missao-visao .line {
  margin: 2rem 0 1rem 3rem;
  display: block;
  /* width: 100%; */
  height: .1rem;
  background-color: #00274c54;
  
}

.grid1 .valores{
  /* background-color: #EBF0FA; */
  /* border-radius: 15px; */
  margin: 0 25px 0 0;
  padding: 2rem;
  display: grid;
  place-self: center;
  border-radius: 10px;
  border: #00274c54 .1rem solid;
}

.grid1 .valores-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  

}

.grid1 .valores img{
  width: 1.5vw;
}


.grid1 .valores .valores-grid .box-valores .box-content{
  /* background-color: #696969; */
  text-align: justify;

}
.grid1 .valores .valores-grid .box-valores .box-content h2{
  font-size: 4vw;
  padding: 5vw 0;
  /* margin-left: 2rem; */
  color: #00274C;
  font-weight: 700;
}

.grid1 .valores .valores-grid .box-valores .box-content h4{
  font-size: 1.5vw;
}

.grid1 .valores .valores-grid .box-valores .box-content .valTitulo{
  display: grid;
  grid-template-columns: 15% auto;
}
.grid1 .valores .valores-grid .box-valores .box-content p{
  font-size:  2.3vh;
  color: #696969;
}

/* Media query para telas menores */
@media screen and (max-width: 900px) {

  .grid1{
    display: grid;
    grid-template-columns: 1fr;
  }
  .grid1 .valores{
    margin-left: 2rem;
  }
  .grid1 .valores .valores-grid .box-valores .box-content h4{
    font-size: 2.3vh;
  }
  .grid1 .valores .valores-grid .box-valores .box-content p{
    font-size: 2.2vh;
  }
  .valor-missao-visao .missao-visao p{
    font-size: 2.2vh;
    
  }
}