.produtos{
    margin: 2rem 25px ;
    padding: 4rem .5rem;
    font-family: 'Roboto';
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  }
  
  .produtos img{
    margin-top: 5vw;
    width: 30vw;
    margin-left: 2rem;
  }
  
  .prodFrases{
    background-color: #EBF0FA;
    padding: 2rem ;
    margin-right: 2rem;
    text-align: justify;
    box-shadow: 0 4px 8px rgba(173, 216, 230, 0.6), 0 6px 20px rgba(173, 216, 230, 0.3);
    border-radius: 10px;
  }
  
  .prodFrases h2{
    font-size: 4vh;
    color: #00274C;
    font-weight: 900;
  }
  
  .prodFrases p{
    font-size:  2.3vh;
    color: #696969;
  }