.team{
  margin: 100px 25px;
  padding: 2rem;
  /* max-width: 1140px; */
  /* background-color: black; */
  /* background-color: #ADD8E6; */
  background-color: #EBF0FA;
  border-radius: 10px;
}

.team .title{
  /* background-color: aqua; */
  text-align: center;
  font-size: 25px;


}

.members-containers{
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: column;
}

.members-containers .container-one{
  /* background-color: blueviolet; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  
}

.container-one .member-container-one{
  text-align: center;
  border: 2px solid #003366;
  background-color: #ADD8E6;
  padding: 3em;
  margin: 2rem;
  border-radius: 8px;
  /* box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3); */
  box-shadow: 0 4px 8px rgba(173, 216, 230, 0.6), 0 6px 20px rgba(0, 0, 0, 0.3);
  /* background-color: #EBF0FA; */
  
  
  
}

.members-containers .container-two{

  /* background-color: chartreuse; */
  display: flex;
  align-items: center;
  justify-content: space-around;
 
}

.members-containers .member-container-two{
  text-align: center;
  border: 2px solid #003366;
  border-radius: 8px;
  padding: 3em;
  margin: 2rem;
  background-color: #ADD8E6;
  /* box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3); */
  box-shadow: 0 4px 8px rgba(173, 216, 230, 0.6), 0 6px 20px rgba(0, 0, 0, 0.3);
}

.size{
  font-size: 17px;
}

