
.integrantes{
    overflow: hidden;
}

.integrantes .text{
    font-family: 'Roboto';
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: 2rem;
}
.integrantes .text h1{
    margin: 3.5rem  5rem 0 ;
    color: #00274C;
    font-weight: 700;
    margin-bottom: 3rem;
}

.integrantes .text p{
    margin: 2rem  5rem 0 ;
    color: #696969;
    font-size: 2.4vh;
    text-align: justify;
}

.box2{
    display: grid;
    place-content: end;
    margin: 0;
}

.box2 img{
    width: 38vw;
    margin: 3rem 3rem 0 1rem;
    border-radius: 7rem;
    opacity: .9;
    box-shadow: 0 2px 25px rgba(0, 80, 157,0.25);

}

.integrantes .quemSomos{
    margin: 7rem .8rem 0;
    background-color: #dae5fa;
    border-radius: 20px;
    border: #ADD8E6 3px solid;
    padding: 1rem 0 3rem;
}

.integrantes .quemSomos h4{
    padding: 2.5rem 4rem 2rem;
    font-size: 3vh;
    font-weight: 600;
    color: #00274C;
    
}

.integrantes .quemSomos h6{
    font-size: 2.2vh;
    padding: 1rem 0;
    text-align: center;
}

.integrantes .equipe{
    position: relative; 
    display: grid;
    grid-template-columns: repeat(5,1fr);
    place-items: center;
}


.integrantes h5{
    font-style: italic;
    text-align: center;
    margin-top: 8rem;
    padding: 1rem;
    font-weight: 500;
}






/* --- MODAL --- */
.modal{
    width: 80vw;
}

.image-container .btn img{
    width: 10vw;
    border-radius: 90px;
    border: #00274cda 2px solid;

}
.image-container .btn img:hover{
    width: 10.5vw;
    transition: width .2s ease-in;
    border-radius: 80px;
    border: #696969 2px solid;
    box-shadow: 0 2px 25px rgb(100, 99, 99);
}


#content{
    display:grid;
    /* background-color: aqua; */
    width: 200%;
    right: -50%;
    left: -50%;
}
#header{
    height: 7vh;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 0 2rem;
    /* COLOCAR SOMBRA */
}
#header img{
    width: 2vw;
}
#modal-body{
    display: grid;
    grid-template-columns: 55% auto;
    padding: 1rem 3rem;
    gap: .5rem;
}
#modal-body .grid1{
    display: block;
}
#modal-body .grid1 p{
    font-size: 2vh;
    color: #696969;
    text-align: justify;
    margin-top: 2rem;
}
#modal-body .grid1 h3{
    font-size: 8vh;
    
    
}
#modal-body .grid1 .sobrenome{
    padding-left: 5rem;
    margin-bottom: 3rem;
}
.grid1 .nome{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.grid1 .nome h3{
    line-height: .9;
    margin-top: 1rem;
}

#modal-body .grid2{
    display: grid;
    place-items: center;
    margin-bottom: 0;
    margin-left: 2rem;
    justify-content: start;
}
#modal-body .grid2 .perfil{
    margin-left: 2.5rem;
}

#modal-body .grid2 .box-down {
    display: grid;
    grid-template-columns: repeat(4,25%);
    gap: .8rem;
    margin-bottom: 2rem;
    place-items: center;
}

#modal-body .grid2 .box-down img{
    width: 3vw;
}
#modal-body .grid2 .box-down2{
    display: grid;
    grid-template-columns: 10% auto;
    gap: .4rem;
    margin-left: 2rem;
    justify-content: start;
}
.grid2 .box-down2 img{
    width: 1.5vw;
    align-self: start;
    justify-content: start;
    margin-bottom: .8rem;
    margin-right: 2rem;
}
.grid2 .box-down2 p{
    place-self: center;
    font-size: 2.2vh;
    line-height: .5;
}
.grid2 .box-down2 .from{
    grid-column: 2;
    line-height: .5;
    /* place-self: end; */
}

.modal-footer #btn-close{
    background-color: #696969;
    padding: .5rem 1rem;
}

/* -- M Y L E N A -- */
#mylena #header{
    background-color: #BFA4C3;
}
#mylena .nome{
    font-family: 'Quicksand';
    font-weight: 700;
}
#mylena .nome .sobrenome{
    color: #7A288A;
}
#mylena .nome img{
    width: 12vw;
    display: grid;
    justify-self: end;
}
#mylena .grid2 .box-down a:hover{  
    box-shadow: 0 2px 25px rgba(122, 40, 138, 0.3), 0 2px 25px rgba(122, 40, 138, 0.7);
    border-radius: .7vw;
    transition: box-shadow 0.3s ease;
}

#mylena #my-footer{
    background-color: #2E2C39;
}
#mylena #my-footer #my-btn-close{
    margin-right: 2rem;
    background-color: #E1DDEB;
    padding: .3rem 2rem;
    font-weight: 500;
}
#mylena #my-footer #my-btn-close:hover{
    box-shadow: 0 2px 25px rgba(122, 40, 138, 0.3), 0 2px 25px rgba(122, 40, 138, 0.7);
    color: #7A288A;
    font-weight: 700;

}
#mylena .grid1 h3{
    font-size: 10vh;

}
#mylena .grid2 .box-down2 p{
    text-shadow: 2px 2px 5px rgba(122, 40, 138, .7); /* Sombra com cor leve */
}

/* -- K E L -- */
#kel #header{
    background-color: #6E8280;
}
#kel .nome{
    font-family: 'Artifika';
}

#kel .nome .sobrenome{
    color: #6E8280;
}
#kel .nome img{
    width: 8vw;
    display: grid;
    align-self: center;
    margin-left:.5rem ;
    margin-bottom: 1rem;
}
#kel .grid2 .box-down a:hover{  
    box-shadow: 0 2px 25px rgba(209, 106, 119), 0 2px 25px rgba(209, 106, 119);
    border-radius: .7vw;
    transition: box-shadow 0.3s ease;
}

#kel #kel-footer{
    background-color: #FFADC0;
}
#kel #kel-footer #kel-btn-close{
    margin-right: 2rem;
    background-color: #fff;
    padding: .3rem 2rem;
    color: #6E8280;
    font-weight: 600;
}
#kel #kel-footer #kel-btn-close:hover{
    box-shadow: 0 2px 25px rgba(110, 130, 128,0.7), 0 2px 25px rgba(209, 106, 119,0.5);
   color: #D16A77;
   font-weight: 700;

}
#kel .grid1 h3{
    font-size: 9vh;
}
#kel #modal-body .grid2 .box-down2{
    text-shadow: 2px 2px 5px rgb(236, 52, 76, .8); 
}


/*  -- J U A A N -- */

#juan #header{
    background-color: #313330;
}
#juan .nome{
    font-family: 'Libre Baskerville';
}
#juan .nome .sobrenome{
    color: #59001C;
}
#juan .nome{
    padding-left: 1rem;
}
#juan .grid1 h3{
    font-size: 9vh;

}
#juan .nome img{
    width: 6vw;
    display: grid;
    /* justify-self: end; */
    align-self: center;
    margin-left:2rem ;

}
#juan .grid2 .box-down a:hover{  
    box-shadow: 0 2px 25px rgba(89, 0, 28,0.5), 0 2px 25px rgba(89, 0, 28,0.7);
    border-radius: .7vw;
    transition: box-shadow 0.3s ease;
}

#juan #juan-footer{
    background-color: #0D1216;
}
#juan #juan-footer #juan-btn-close{
    margin-right: 2rem;
    background-color: #FEE6E6;
    padding: .3rem 2rem;
    font-weight: 500;
}
#juan #juan-footer #juan-btn-close:hover{
    box-shadow: 0 2px 25px rgba(89, 0, 28,0.5), 0 2px 25px rgba(89, 0, 28,0.7);
   color: #59001C;
   font-weight: 700;

}
#juan .grid2 .box-down2 p{
    text-shadow: 2px 2px 5px rgba(89, 0, 28,0.5); /* Sombra com cor leve */
}



/*  -- J A S O N --  */
#jason #header{
    border: #577C8E 1.5px solid;
}
#jason .nome{
    font-family: 'Jost';
}
#jason .nome .sobrenome{
    color: #2F4157;
}
#jason .nome{
    padding-left: 1rem;
}
#jason .nome img{
    width: 6vw;
    display: grid;
    /* justify-self: end; */
    align-self: center;
    margin-left:2rem ;
}
#jason .grid2 .box-down a:hover{  
    box-shadow: 0 2px 25px rgba(87, 124, 142), 0 2px 25px rgba(87, 124, 142);
    border-radius: .7vw;
    transition: box-shadow 0.3s ease;
}

#jason #jason-footer{
    background-color: #2F4157;
}
#jason #jason-footer #jason-btn-close{
    margin-right: 2rem;
    background-color: #E9E9E9;
    padding: .3rem 2rem;
    font-weight: 500;
}
#jason #jason-footer #jason-btn-close:hover{
    box-shadow: 0 2px 25px rgba(87, 124, 142, 0.5), 0 2px 25px rgba(87, 124, 142, 0.7);
   color: #758E99;
   font-weight: 700;

}
#jason .grid1 h3{
    font-size: 10vh;

}
#jason .grid2 .box-down2 p{
    text-shadow: 2px 2px 5px rgba(87,124,142,.7); /* Sombra com cor leve */
}


/*  -- A N D R E --  */
#andre #header{
    background-color: #000;
}
#andre #header img{
    margin-left: .7rem;
}
#andre .nome{
    font-family: 'Baloo Bhaijaan 2';
}
#andre .nome .sobrenome{
    color: #956656;
}
#andre .nome{
    padding-left: 1rem;
}
#andre .nome img{
    width: 6vw;
    display: grid;
    /* justify-self: end; */
    align-self: center;
    margin-left:2rem ;
}
#andre .grid2 .box-down a:hover{  
    box-shadow: 0 2px 25px rgba(149, 102, 86), 0 2px 25px rgba(149, 102, 86);
    border-radius: .7vw;
    transition: box-shadow 0.3s ease;
}

#andre #andre-footer{
    background-color: #956656;
}
#andre #andre-footer #andre-btn-close{
    margin-right: 2rem;
    background-color: #E9E9E9;
    padding: .3rem 2rem;
    font-weight: 500;
}
#andre #andre-footer #andre-btn-close:hover{
    box-shadow: 0 2px 25px rgba(0,0,0,0.25), 0 2px 25px rgba(0,0,0,0.25);
   color: #000;
   font-weight: 700;

}
#andre .grid1 h3{
    font-size: 10vh;

}
#andre .grid2 .box-down2 p{
    text-shadow: 2px 2px 5px rgba(0,0,0,.4); /* Sombra com cor leve */
}






/* Responsividade para telas pequenas e mobile */
@media (max-width: 768px) {
    .integrantes .text {
        display: block;
        margin: 1rem;

    }

    .integrantes .text h1 {
        margin: 3rem 1rem 0;
        font-size: 5vh;
        text-align: center;
    }

    .integrantes .text p {
        margin: 1rem 1rem;
        font-size: 2.4vh;
        text-align: justify;
    }

    .integrantes .quemSomos {
        margin: 4rem 1rem;
        padding: 1rem;
        border-radius: 15px;
    }

    .integrantes .quemSomos h4 {
        font-size: 2.4vh;
        padding: 1rem 2rem;
        text-align: center;
    }

    .integrantes .quemSomos h6 {
        font-size: 2.5vh;
    }

    .integrantes .equipe {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin-top: 3rem;
    }

    .box2 {
        display: none; /* Esconder a imagem da box2 em telas pequenas */
    }

    .integrantes h5 {
        font-size: 2.2vh;
        margin-top: 4rem;
        text-align: center;
    }

   /* --- MODAL --- */
.modal {
    width: 80vw;
    
}

.image-container .btn img {
    width: 18vw;
    border-radius: 90px;
    border: #00274cda 2px solid;
}

.image-container .btn img:hover {
    width: 10.5vw;
    transition: width 0.2s ease-in;
    border-radius: 80px;
    border: #696969 2px solid;
    box-shadow: 0 2px 25px rgb(100, 99, 99);
}

#content {
    display: grid;
    place-self: center;
    width: 450px; /* Alterado para 100% para melhor responsividade */
    height: auto;
    padding: 0 1rem; /* Adicionado padding para dispositivos pequenos */
    left: 8%;
    right: 0%;
}

#header {
    height: 7vh;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    /* padding: 0 5rem; */
}
#header img {
    display: none;
}


#modal-body {
    display: grid;
    grid-template-columns: 1fr; /* Alterado para 1 coluna para dispositivos pequenos */
    padding: 1.5rem 0; /* Ajustado para espaçamento vertical */
   
}

#modal-body .grid1 {
    display: block;
}

#modal-body .grid1 p {
    font-size: 2.5vh; /* Aumentado para melhor legibilidade em telas pequenas */
    color: #696969;
    text-align: justify;
    margin-top: 1rem; /* Reduzido para melhor espaçamento */
}

#modal-body .grid1 h3 {
    font-size: 7vh; /* Reduzido para melhor encaixe em telas pequenas */
}

#modal-body .grid1 .sobrenome {
    padding-left: 2rem; /* Removido para não ocupar espaço em telas pequenas */
    
}

.grid1 .nome {
    display: grid;
    grid-template-columns: 60% auto; /* Alterado para 1 coluna */
}

.grid1 .nome h3 {
    line-height: 1.1; /* Ajustado para melhor legibilidade */
    margin-top: 0.5rem; /* Reduzido para melhor espaçamento */
}
#mylena .grid1 .nome img{
    display: grid;
    place-items: start;
    place-self: start;
    width: 25vw;
}

#modal-body .grid2 {
    display: grid;
    place-items: center;
}

#modal-body .grid2 .perfil {
    margin-left: 0; /* Removido para melhor alinhamento */
}

#modal-body .grid2 .box-down {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 2rem; 
    margin-bottom: 1rem; 
    place-items: center;
}

#modal-body .grid2 .box-down img {
    width: 10vw; 
}

#modal-body .grid2 .box-down2 {
    display: grid;
    grid-template-columns: 20% auto; 
    gap: 0.4rem;
    justify-content: start;
    margin-top: 2rem;
}

.grid2 .box-down2 img {
    width: 5vw; /* Aumentado para melhor visualização */
    align-self: start;
    margin-bottom: 0.8rem;
}

.grid2 .box-down2 p {
    place-self: center;
    font-size: 2.5vh; /* Aumentado para melhor legibilidade */
    line-height: 1.2; /* Ajustado para melhor legibilidade */
}

.grid2 .box-down2 .from {
    grid-column: 2;
    line-height: 1.2; /* Ajustado para melhor legibilidade */
}

.modal-footer #btn-close {
    background-color: #696969;
}

}

