/* .mockup{
    width: 100%; 
    height: auto;
} */
#faixa{
    text-align: center;
    background-color: #EBF0FA;
    margin: 0;
    color:#00274C ;
    font-size: 3em;
}
/* posicionamentos dos elementos */
.mockup{
    /* height: 75vh; */
    background-color: #EBF0FA;
    width: 100%;
    padding: 2em;
    

}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 4em;
    
    
}

.mockup-funcionario{
    width: 60%;
    height: 70vh;
    box-shadow: 6px 5px 5px rgba(0, 0, 0, 0.387);
    

}

.conteudo{
    width: 40%;
    
}

.texto-funcoes{
    width: 100%;
}
.mockup-funcionario img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mockup-cliente {
    width: 60%;
    height: 70vh;
    box-shadow: 6px 5px 5px  rgba(0, 0, 0, 0.387);
    /* height: 80vh; */
}

.mockup-cliente video{
    width: 100%;
    height: 100%;
    object-fit: cover;                                                                      
}

#mockup::-webkit-media-controls {
    display: none;
}

/* planos */
.planos-ficticios{
    height: 100vh;
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.plano{
    background-color: rebeccapurple;
}
.btn-posicao{
    display: flex;
    justify-content: center;
    text-transform: uppercase;

}
.btn-posicao a{
    font-size: small;
}

.margem{
margin-bottom:0px ;
}


/* estilo de conteudo */
b{
    color: #236DF0;
}

.prototipo{
    background-color: #236DF0;
    height: 40px;
    display: flex;
    border-radius: 14px;
    justify-content: center;
    align-items: center;
}
.botao{
    background-color: #236DF0;
    color: #EBF0FA;
    text-decoration: none;
}

.titulo{
    position: relative;
    right: 20px;
    margin-bottom:30px ;
    
}
h5{
    text-align: left;
}

/* responsividade */

@media(max-width: 1360px) and (max-width: 1366px){
   .conteudo{
    /* padding-bottom: 120px; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
   }
}

