/* secao quem somos */

.quem{
  padding-top: 2rem;
  background-color: #ECDFDC;
}
.quemsomos{
    background-color: #ECDFDC;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    
}

#titulo-quemsomos{
  text-align: center;
}


.container-texto{
   max-width: 80vw;
   display: flex;
   gap: 5em;
   background-color: brown;
   margin-top: 20px;
   

}

.texto{
 background-color: aqua;
 font-size: x-large;
 width: 100%;
 width: fit-content;
}

.container-apoiadores{
  background-color:#ECDFDC;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.box-logos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
}

.item-container {
  background-color:#ecd5d2;
  border-radius: 5px;
}

.detalhe{
  background-color: #ecd5d2;
}

#espaco{
margin: 3em 0.50em;
}

/* secao servicos */
.servicos{
  /* background-color: #ADD8E6; */
  background-color: #236DF0;
  margin-top:15px ;
  height:90vh;
  
}

.texto-impacto{
  display: flex;
  justify-content: center;
  padding: 20px;
}
.container-sevicos{
  /* background-color: #d25ab4; */
  background-color: #236DF0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  
}

.servico{
 
  background-color: #EBF0FA;
  height: 28vh;
  width: 35%; 
  display: inline-block;
  box-sizing: border-box;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.387);
 

}

.box-imagem{
  display: flex;
  justify-content: flex-end;
}

.titulo-servico {
 display: flex;
 flex-direction: column;
 justify-content: left;
  /* padding-right: 20px;
  padding-left: 20px; */
}




/* secao diferenciais */
 .diferenciais{  
  /* background-color: #236DF0; */
  background-color: #b0c4de31;
  /* margin-top: 30px; */
  height: 600px;

  /* display: flex;
  justify-content: center; */
 }

 #titulo-diferenciais{
  padding-top: 5rem;
  text-align: center;
  
 }

 .container-diferenciais{
  display: flex;
  align-items: center;
  padding-top: 150px;
  justify-content: space-around;
 }